@model IEnumerable<MVC_PPC.Models.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@*<a href="@Url.Action("Login","Account")">Login</a>*@

<body @*style="background: url('')"*@>
    <div class="col-md-12">

        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0"> Table of property</h4>

                <p class="card-category"> Here is a subtitle for this table</p>
            </div>





            <br />
            <br />
            <div>
                <h4>
                    <button class="card-header-primary">
                        @Html.ActionLink("Create New", "Create")
                    </button>
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Property_Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Property_Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Avatar)
                            </th>

                            <th>
                                City_Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.District.District_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Property_Status.Property_Status_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Property_Type.Property_Type_Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Property_Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Property_Name)
                                </td>

                                <td>
                                    @if (item.Price.HasValue)
                                    {
                                        @item.Price.Value.ToString("N0")
                                    }
                                </td>

                                <td>
                                    <img src="@Url.Action("../Content/Images", new { id = item.Avatar})" width="" height="100" />
                                    @*<img src="@Url.Action("Image",new {id = item.Avatar})" width="" height="100" />*@
                                    @Html.DisplayFor(modelItem => item.Avatar)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.District.City.City_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.District.District_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Property_Status.Property_Status_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Property_Type.Property_Type_Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>



